{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Pipebomb API for searching and streaming movies",
        "title": "Pipebomb API",
        "termsOfService": "http://ani-j.netlify.app/tos/",
        "contact": {
            "name": "API Support",
            "url": "https://github.com/ani-social",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "6.9"
    },
    "host": "anij.bytecats.codes",
    "basePath": "/pipebomb/api",
    "paths": {
        "/api/profiles/users": {
            "get": {
                "description": "Retrieve a list of all users",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Get all users",
                "operationId": "get-users",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/profiles.User"
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Create a new user with the given data",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Create a new user",
                "operationId": "create-user",
                "parameters": [
                    {
                        "description": "User to be created",
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/profiles.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/profiles.User"
                        }
                    }
                }
            }
        },
        "/api/profiles/users/{username}": {
            "get": {
                "description": "Retrieve a user by their username",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Get a specific user",
                "operationId": "get-user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username of the user to be fetched",
                        "name": "username",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/profiles.User"
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "put": {
                "description": "Update a user's data by their username",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Update a user",
                "operationId": "update-user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username of the user to be updated",
                        "name": "username",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Updated user data",
                        "name": "updatedUser",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/profiles.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/profiles.User"
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            },
            "delete": {
                "description": "Delete a user by their username",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Users"
                ],
                "summary": "Delete a user",
                "operationId": "delete-user",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username of the user to be deleted",
                        "name": "username",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/profiles.User"
                        }
                    },
                    "404": {
                        "description": "User not found"
                    }
                }
            }
        },
        "/films/vip/search": {
            "get": {
                "description": "Search for films by query",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Films"
                ],
                "summary": "Search for films",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search Query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/film.FilmSearch"
                        }
                    }
                }
            }
        },
        "/films/vip/servers": {
            "get": {
                "description": "Fetch film servers by film ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Films"
                ],
                "summary": "Fetch film servers",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Film ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/film.FilmServer"
                            }
                        }
                    }
                }
            }
        },
        "/films/vip/sources": {
            "get": {
                "description": "Fetch film servers by server ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Films"
                ],
                "summary": "Fetch film sources",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Server ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/film.FilmSourcesEncrypted"
                            }
                        }
                    }
                }
            }
        },
        "/series/vip/search": {
            "get": {
                "description": "Search for shows by query",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Series"
                ],
                "summary": "Search for shows",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search Query",
                        "name": "q",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/show.ShowSearch"
                        }
                    }
                }
            }
        },
        "/series/vip/seasons": {
            "get": {
                "description": "Fetch show seasons and episodes by id",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Series"
                ],
                "summary": "Fetch show seasons and episodes",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Search Query",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/show.ShowSeason"
                            }
                        }
                    }
                }
            }
        },
        "/series/vip/servers": {
            "get": {
                "description": "Fetch show servers by episode ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Series"
                ],
                "summary": "Fetch show servers",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Episode ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/show.ShowServer"
                            }
                        }
                    }
                }
            }
        },
        "/series/vip/sources": {
            "get": {
                "description": "Fetch show servers by server ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Series"
                ],
                "summary": "Fetch show sources",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Server ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/show.ShowSourcesEncrypted"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "film.FilmSearch": {
            "description": "stores the film data",
            "type": "object",
            "properties": {
                "casts": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "cast"
                    ]
                },
                "country": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "country"
                    ]
                },
                "description": {
                    "type": "string",
                    "example": "Description"
                },
                "duration": {
                    "type": "string",
                    "example": "0 min"
                },
                "genres": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "genre"
                    ]
                },
                "href": {
                    "type": "string",
                    "example": "https://example.com/film/1"
                },
                "id": {
                    "type": "string",
                    "example": "movie/film-1"
                },
                "idParts": {
                    "$ref": "#/definitions/film.IdSplit"
                },
                "poster": {
                    "type": "string",
                    "example": "https://example.com/poster/1.jpg"
                },
                "production": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "production"
                    ]
                },
                "released": {
                    "type": "string",
                    "example": "2000"
                },
                "title": {
                    "type": "string",
                    "example": "Film"
                }
            }
        },
        "film.FilmServer": {
            "type": "object",
            "properties": {
                "linkID": {
                    "type": "string"
                },
                "serverName": {
                    "type": "string"
                }
            }
        },
        "film.FilmSourcesEncrypted": {
            "type": "object",
            "properties": {
                "server": {
                    "type": "integer"
                },
                "sources": {
                    "type": "string"
                },
                "tracks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/film.Track"
                    }
                }
            }
        },
        "film.IdSplit": {
            "description": "stores the film ID parts",
            "type": "object",
            "properties": {
                "idNum": {
                    "type": "integer",
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "film"
                },
                "type": {
                    "type": "string",
                    "example": "movie"
                }
            }
        },
        "film.Track": {
            "type": "object",
            "properties": {
                "default": {
                    "type": "boolean"
                },
                "file": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                }
            }
        },
        "profiles.Achievement": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "profiles.Profile": {
            "type": "object",
            "properties": {
                "achievements": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/profiles.Achievement"
                    }
                },
                "bio": {
                    "type": "string"
                },
                "image": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "philosophy": {
                    "type": "string"
                },
                "socialLinks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/profiles.Social"
                    }
                }
            }
        },
        "profiles.Social": {
            "type": "object",
            "properties": {
                "icon": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "profiles.User": {
            "type": "object",
            "properties": {
                "avatar": {
                    "type": "string"
                },
                "profile": {
                    "$ref": "#/definitions/profiles.Profile"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "show.Episode": {
            "type": "object",
            "properties": {
                "episodeID": {
                    "type": "string"
                },
                "title": {
                    "type": "string"
                }
            }
        },
        "show.IdSplit": {
            "description": "stores the show ID parts",
            "type": "object",
            "properties": {
                "idNum": {
                    "type": "integer",
                    "example": 1
                },
                "name": {
                    "type": "string",
                    "example": "show"
                },
                "type": {
                    "type": "string",
                    "example": "show"
                }
            }
        },
        "show.ShowSearch": {
            "description": "stores the show data",
            "type": "object",
            "properties": {
                "casts": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "cast"
                    ]
                },
                "country": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "country"
                    ]
                },
                "description": {
                    "type": "string",
                    "example": "Description"
                },
                "duration": {
                    "type": "string",
                    "example": "0 min"
                },
                "genres": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "genre"
                    ]
                },
                "href": {
                    "type": "string",
                    "example": "https://example.com/show/1"
                },
                "id": {
                    "type": "string",
                    "example": "show/episode-1"
                },
                "idParts": {
                    "$ref": "#/definitions/show.IdSplit"
                },
                "poster": {
                    "type": "string",
                    "example": "https://example.com/poster/1.jpg"
                },
                "production": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "production"
                    ]
                },
                "released": {
                    "type": "string",
                    "example": "2000"
                },
                "title": {
                    "type": "string",
                    "example": "Show"
                }
            }
        },
        "show.ShowSeason": {
            "type": "object",
            "properties": {
                "episodes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/show.Episode"
                    }
                },
                "serverID": {
                    "type": "string"
                },
                "serverName": {
                    "type": "string"
                }
            }
        },
        "show.ShowServer": {
            "type": "object",
            "properties": {
                "linkID": {
                    "type": "string"
                },
                "serverName": {
                    "type": "string"
                }
            }
        },
        "show.ShowSourcesEncrypted": {
            "type": "object",
            "properties": {
                "server": {
                    "type": "integer"
                },
                "sources": {
                    "type": "string"
                },
                "tracks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/show.Track"
                    }
                }
            }
        },
        "show.Track": {
            "type": "object",
            "properties": {
                "default": {
                    "type": "boolean"
                },
                "file": {
                    "type": "string"
                },
                "kind": {
                    "type": "string"
                },
                "label": {
                    "type": "string"
                }
            }
        }
    }
}